* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'FF DIN Pro', sans-serif;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #F5F5F4;
}

header .opensidebar,
header .avatar {
    margin: 8px;
    cursor: pointer;
}

.avatar {
    height: 2rem;
    width: 2rem;
    background-color: whitesmoke;
    border-radius: 5px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(110, 101, 101, 0.1) 0px 2px 10px 0px;
    height: auto;
    background-color: #FAFAFA;
}

header li {
    list-style: none;
    font-weight: bold;
    padding: 0px 1rem;
    margin: .5rem 0;
    cursor: pointer;
}

.hamburger {
    padding: 12px 16px;
    width: 20px;
    height: 20px;
    background: transparent url("data:image/svg+xml, %3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3.75H20M0 10H20M0 16.25H20' vector-effect='non-scaling-stroke' stroke='currentColor' stroke-width='1.5'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
}

#close-open {
    display: none;
}

#close-open+label {
    position: relative;
    display: none;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
}


header ul {
    display: flex;
    margin: 0;
}

#close-open:checked~div.nav {
    display: block;
    height: 100%;
}

#close-open:checked~div.nav {
    display: block;
}

#close-open:checked~label .hamburger {
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 18.75L18.75 1.25M18.75 18.75L1.25 1.25' vector-effect='non-scaling-stroke' stroke='currentColor' stroke-width='1.5' stroke-linejoin='bevel'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    z-index: 1;
}

/*Projects*/
.projects {
    width: 100%;
}

.paginatejs,
.idealeaf,
.sketchquick {
    height: 3em;
    width: 8em;
    border-radius: 0.5em;
    background-color: gray;
    cursor: pointer;
    outline: none;
    border-width: 0;
}

/*Contact form*/
.contact-section {
    width: 100%;
    max-width: 40rem;
    padding: 3rem 1rem;
}

.contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.contact-description {
    color: rgb(107 114 128);
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
    color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
    outline: 2px solid gray;
    outline-offset: 2px;
}

.form-textarea {
    min-height: 120px;
}

.form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: gray;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
    cursor: pointer;
}

blockquote {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 15px;
    border-left: 5px solid #66e4b4;
    display: inline-flex;
}


footer,
.connect {
    text-align: center;
    margin: 8px 0;
}

@media (min-width: 768px) {
    body {
        padding-right: 64px;
        padding-left: 64px;
    }

    .projects {
        width: 80%;
    }
}

/* Tablet and Mobile View */
@media (max-width: 768px) {

    #close-open+label {
        display: flex;
        align-items: center;
    }

    #close-open:checked~div.nav {
        width: 320px;
    }

    div.nav {
        overflow: hidden;
        position: absolute;
        top: 8px;
        left: 0;
        width: auto;
        flex-direction: column;
        transition: all 50ms ease-in-out;
        height: 0;
        background-color: #ffffff;
    }

    header ul {
        flex-direction: column;
        top: 5rem;
        position: relative;
    }

    header li {
        padding: 5px 12px;
    }
}